$prime-color: #190c27;
$secondary-color: #fff;
$thrid-color: #818590;
$neutral: #f3f3f3;
$blue-color: #29abf6;
$t-gap: 0.5rem;
$sm: 1.2rem;
$md: 5rem;
$lg: 2rem;
$ex-l: 10rem;
$border: 1px solid #818890;
$transition: 0.3s ease-in-out;
$shadow: 0px 30px 40px rgba(153, 153, 153, 0.262);
$light-shadow: 0px 30px 40px #3ab7fd;
$text-gradiant: linear-gradient(90deg,
        #2295e2,
        #4566c8,
        #8b4ec9,
        #e1884d,
        #e7db5d);