@import './variables';
@import './mixins';

.dashboard{
    width: 70%;
    position: absolute;
    bottom: -70%;
    left: 0;
    right: 0;
    margin: auto;

    img{
        width: 100%;
        border-radius: 40px;
        box-shadow: $shadow;
    }
}