@import './variables';
@import './mixins';

.navbar {
    @include flexBetween;
    color: $secondary-color;
    height: 4.4rem;
    padding: 0 $md;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: $transition;
    z-index: 2;

    &.active{
        background-color: $secondary-color;
        color: $prime-color;
        backdrop-filter: blur(14px);
        box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    }

    .navbar__logo {
        @include logo
    }

    .navbar__routes {
        @include routes
    }

    .button__container {
        @include flexAlign;
        gap: $lg;

        button {
            @include button;
            // background-color: $secondary-color;
        }
    }
}