@import './styles/variables';
@import './styles/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    @include scrollbars($t-gap, $thrid-color, $prime-color);
    scroll-behavior: smooth;
}


.up__button {
    background: $blue-color;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 50px;
    color: $neutral;
    opacity: 0;
    transition: $transition;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: visible;
    }

    a {
        height: 100%;
        width: 100%;
        @include flexCenter;
    }
}